<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href='https://fonts.googleapis.com/css?family=Cinzel:400,700,900' rel='stylesheet' type='text/css'>  
        <link href='{% static "styles.css" %}' rel='stylesheet' type='text/css'>
    </head>

    <style>
    
    </style>
    
    <body style="">
        <div class="container">
        {% block content %}
        
        <h1 class="page-title"><u>Hollywood Best Movies</u></h1>
        {% endblock%}   <button class='btn backtohome' onclick="window.location.href='/'">
            <i class='bck-icon'></i>
            <span>Back</span></button>{% for Movie in movies %}
      
        <section>
            <h2 class="movie-title">{{Movie.Movie_title}}</h2>
            <div class="images">
            <img src='{{Movie.Image.url}}'alt="{{ post.title }}"/>
            <img src='{{Movie.Image2.url}}' alt="{{ post.title }}" />
            <img src='{{Movie.Image3.url}}' alt="{{ post.title }}" />
            <img src='{{Movie.Image4.url}}' alt="{{ post.title }}" />
            </div>

            <div class="movie-details-card">
                <div class="card-body">
                    <label>Director</label>
                    <div class="card-details">{{Movie.Director}}</div>
                </div>
                <div class="card-body">
                    <label>Starring </label>
                    <div class="card-details">{{Movie.Starring}}</div>
                </div>
                <div class="card-body">
                    <label>Production Company</label>
                    <div class="card-details">{{Movie.Production_company}}</div>
                </div>
                <div class="card-body">
                    <label>Release Date </label>
                    <div class="card-details">{{Movie.Release_Date}}</div>
                </div>
                <div class="card-body">
                    <label>Language </label>
                    <div class="card-details">{{Movie.Movie_Language}}</div>
                </div>
                 
                <div class= "card-body">
                    <label>Genre</label>
                    <div class="card-details">{{Movie.Genre}}</div>
                </div>
                
                    
        </section>
        <section>
            <div class="card-body synopsis">
                <label>Synopsis</label>
                <div class="card-details">{{Movie.Synopsis}}</div>
            </div> 
        </section>
          <hr>
        {% endfor %}
    </div>
    </body>
</html>
