<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Movie Recommendations</title>
    </head>
    {% load static %}
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400,700,900' rel='stylesheet' type='text/css'>   
    <link href='{% static "styles.css" %}' rel='stylesheet' type='text/css'>
   <style>

            .movies-list a {
                color: white;
            }
            .page-title{
                text-align: center;
            }
            .movies-list {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        </style>
        <div class="movies-list">
            <h1 class="page-title">Best Movie Recommendations</h1>
            <h2>
                <a href="English">
                     English Movies
                </a>
            </h2>
            <h2><a href="Telugu"> Telugu Movies</a></h2>
            <h2><a href="Animation"> Animation Movies</a></h2>
            <h2><a href="Malayalam"> Malayalam Movies</a></h2>
            <h2><a href="Hindi"> Hindi Movies</a></h2>
            <h2><a href="Korean"> Korean Movies</a></h2>
            <h2><a href="Horror"> Horror Movies</a></h2>
            <h2><a href="Action"> Action Movies</a></h2>
        </div>
    </body>
</html>
