<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    <h1>
      <a href="English">
        Best English Movies
      </a>
    </h1>
    <h1><a href="Telugu">Best Telugu Movies</a></h1>
    <h1><a href="Animation">Best Animation Movies</a></h1>
    <h1><a href="Malayalam">Best Malayalam Movies</a></h1>
    <h1><a href="Hindi">Best Hindi Movies</a></h1>
    <h1><a href="Korean">Best Korean Movies</a></h1>
    <h1><a href="Horror">Best Horror Movies</a></h1>
    <h1><a href="Action">Best Action Movies</a></h1>

  </body>
</html>
